BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never

# --- General formatting ---
ColumnLimit: 100
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false

# --- Braces and blocks ---
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly

# --- Pointers, references ---
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
DerivePointerAlignment: false

# --- Templates and lambdas ---
AlwaysBreakTemplateDeclarations: Yes

# --- Includes ---
SortIncludes: true
IncludeBlocks: Regroup

IncludeCategories:
  - Regex: 'pch\.h"$' # Precompiled headers # TODO(Kacper): somehow this ends up after Priority 2
    Priority: 1
  - Regex: 'pch\.cuh"$' # Precompiled Cuda headers
    Priority: 2
  - Regex: '.cuh"$' # Cuda headers
    Priority: 3
  - Regex: '^"[^"]*/[^"]*\.h"' # Matching header
    Priority: 4
  - Regex: '^"[^/"]+\.h"' # Local same-directory headers
    Priority: 5
  - Regex: '^"thesis/.*"' # Project headers
    Priority: 6
  - Regex: '^"(CLI11|glm|spdlog|stb|sutil|tinyexr)/.*"' # Third-party headers
    Priority: 7
  - Regex: '^<((optix|cuda|vector_types|driver_types|vector_functions|math_constants)[^>]*)>' # Cuda & OptiX SDKs
    Priority: 8
  - Regex: '^<.*>' # Standard/system headers
    Priority: 9

# --- Comments ---
ReflowComments: true

# --- Trailing commas ---
Cpp11BracedListStyle: true
