BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never

# --- General formatting ---
ColumnLimit: 100
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false

# --- Braces and blocks ---
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly

# --- Pointers, references ---
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
DerivePointerAlignment: false

# --- Templates and lambdas ---
AlwaysBreakTemplateDeclarations: Yes

# --- Includes ---
SortIncludes: true
IncludeBlocks: Regroup

# TODO(kacper): additional prio for cstdlib, cstddef?
IncludeCategories:
  - Regex: '^".*pch/.h"'                # Precompiled headers
    Priority: 1
  - Regex: '^"[^"]*/[^"]*\.h"'          # Matching header
    Priority: 2
  - Regex: '^"[^/"]+\.h"'               # Local same-directory headers
    Priority: 3
  - Regex: '^"thesis/.*"'               # Project headers
    Priority: 4
  - Regex: '^"(CLI11|glm|spdlog|stb|sutil|tinyexr)/.*"' # Third-party headers
    Priority: 5
  - Regex: '^<((optix|cuda|vector_types|driver_types|vector_functions)[^>]*)>' # Cuda & OptiX
    Priority: 6
  - Regex: '^<.*>'                      # Standard/system headers
    Priority: 7

# --- Comments ---
ReflowComments: true

# --- Trailing commas ---
Cpp11BracedListStyle: true
